body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  padding: 8px;
  border-radius: 6px;
  margin-top: 10px;
}

li button {
  background: crimson;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
}

/* completed task style */
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
/* Dark mode */
.dark-mode {
  background: #121212;
}

.dark-mode .container {
  background: #1e1e1e;
  color: white;
}

.dark-mode input {
  background: #333;
  color: white;
  border: 1px solid #555;
}

.dark-mode li {
  background: #2a2a2a;
}

.dark-mode li button {
  background: #d32f2f;
}
